/*************************/
/*Header*/
/*************************/
header {
  background-color: #fdf2e9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.8rem;
}

.logo {
  height: 2.4rem;
}

/*************************/
/*Nav*/
/*************************/
.header-nav {
}

.nav-list {
  display: flex;
  gap: 2.4rem;
  font-size: 1.6rem;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav-link:hover,
.nav-link:active {
  color: #cf711f;
  transition: 0.3s;
}

.nav-link.nav-cta:link,
.nav-link.nav-cta:visited {
  background-color: #e67e22;
  transition: background-color 300ms;
  padding: 1rem 2.4rem;
  border-radius: 1rem;
  color: #fdf2e9;
}

.nav-link.nav-cta:hover,
.nav-link.nav-cta:active {
  background-color: #cf711f;
}
/*************************/
/*Hero*/
/*************************/
.section-hero {
  background-color: #fdf2e9;
}

.hero {
  width: 130rem;
  display: grid;
  align-items: center;
  padding: 4rem 1.6rem 9.6rem;
  gap: 9.6rem;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}

.hero-text-box .description {
  font-size: 2rem;
  margin-bottom: 4.4rem;
  line-height: 1.6;
}

.orange-btn a {
  padding: 1.6rem 2.8rem;
  background-color: #e67e22;
  display: inline-block;
  font-size: 1.6rem;
  color: white;
  text-decoration: none;
  border-radius: 1rem;
}

.hero-img {
  width: 100%;
}

.delivered-box {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-img {
  display: flex;
}

.delivered-img img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  border: 2px solid #fdf2e9;
  margin-right: -1.6rem;
}

.delivered-img img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.6rem;
  font-weight: 600;
}

.delivered-text span {
  font-weight: bold;
  color: #cf711f;
}

/*************************/
/*featured in*/
/*************************/
.featured-in {
  padding: 4.4rem 0;
}

.heading-featured-in {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.6rem;
  color: #777;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/*************************/
/*HOW IT WORKS SECTION*/
/*************************/
.section-how {
  padding: 6rem 0;
}

.step-img {
  width: 30%;
}

.img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-number {
  font-size: 8rem;
  color: #ddd;
  margin-bottom: 1.6rem;
}

.step-description {
  font-size: 2rem;
  line-height: 1.8;
}

.img-box::before,
.img-box::after {
  position: absolute;
  content: "";
  border-radius: 50%;
}

.img-box::before {
  background-color: #fdf2e9;
  width: 50%;
  padding-bottom: 50%;
  z-index: -2;
}

.img-box::after {
  background-color: #fae5d3;
  width: 35%;
  padding-bottom: 35%;
  z-index: -1;
}

/*************************/
/*MEALS SECTION*/
/*************************/
.section-meals {
  padding: 6rem 0;
}

.meal-title {
  font-size: 2.4rem;
  margin-bottom: 3.2rem;
  font-weight: 600;
  color: #333;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  gap: 1.8rem;
  align-items: center;
}

.meal-icon {
  display: inline;
  width: 2.4rem;
  height: 2.4rem;
  color: #cf711f;
}

.meal-img {
  width: 100%;
}

strong {
  font-weight: 500;
}

.meal-tag {
  display: inline-block;
  text-transform: uppercase;
  border-radius: 100px;
  color: #333;
  padding: 0.4rem 0.6rem;
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
}

.tag-vegetarian {
  background-color: #51cf66;
}

.tag-vegan {
  background-color: #94d82d;
}

.tag-paleo {
  background-color: #fcc419;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
}

.meal:hover {
  transform: translate(0, -1.2rem);
  transition: all 0.3s;
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.all-sessions {
  font-size: 1.8rem;
}

.link {
  text-decoration: none;
  padding-bottom: 2px;
}

.link:link,
.link:visited {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

.link:hover,
.link:active {
  color: #e67e22;
  border-bottom: 1px solid currentColor;
}

/*************************/
/*testimonials SECTION*/
/*************************/
.section-testimonials {
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
  background-color: #fdf2e9;
}

.testimonial-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.8rem;
}

.testimonial-img {
  width: 9.6rem;
  border-radius: 100%;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #777;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
}

.gallery-item img:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

/*************************/
/*SECTION PRICING*/
/*************************/
.section-pricing {
  padding: 9.6rem;
}

.plan-header {
  text-align: center;
  margin-bottom: 4rem;
}

.plan-name {
  color: #cf711f;
  font-size: 1.6rem;
  margin-bottom: 3.6rem;
  font-weight: 600;
  letter-spacing: 0.75;
  text-transform: uppercase;
}
.plan-price {
  font-size: 6.2rem;
  margin-bottom: 1.6rem;
  color: #333;
  font-weight: 500;
}

.plan-price span {
  font-size: 3rem;
  margin-right: 0.8rem;
  font-weight: 500;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
}

.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}

.pricing-plan {
  width: 70%;
  border-radius: 11px;
}

.pricing-plan-starter {
  justify-self: end;
  border: 2px solid #fdf2e9;
  padding: 4.6rem;
}

.pricing-plan-2 {
  background-color: #fdf2e9;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.pricing-plan-2::after {
  content: "best value";
  background-color: yellow;
  color: #333;
  text-transform: uppercase;
  padding: 0.8rem 10rem;
  position: absolute;
  font-weight: 600;
  font-size: 1.4rem;
  top: 6%;
  right: -22%;
  transform: rotate(45deg);
}

.feature-icon {
  color: #e67e22;
  width: 3.2rem;
  height: 3.2rem;
  margin-bottom: 3.2rem;
  background-color: #fdf2e9;
  border-radius: 10rem;
  padding: 1.6rem;
}

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-align: center;
}

/*************************/
/*SECTION CTA*/
/*************************/
.section-cta {
  padding: 9.6rem;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  height: 50rem;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  overflow: hidden;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 135, 75, 0.3),
      rgba(235, 135, 75, 0.5)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-text-box {
  padding: 6.4rem;
  color: #45260a;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.8rem;
}

.cta-text-box .heading-2 {
  margin-bottom: 3.2rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  margin-bottom: 1.2rem;
  font-weight: 500;
  font-size: 1.8rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  border-radius: 9px;
  background-color: #fdf2e9;
  font-size: 1.8rem;
}

.cta-form input::placeholder {
  color: #aaa;
  font-family: inherit;
  font-size: 1.8rem;
}

.cta-form button {
  align-self: end;
  padding: 1.2rem;
  font-size: 1.8rem;
  border: none;
  outline: none;
  background-color: #45260a;
  color: #fdf2e9;
  border-radius: 9px;
}
.cta-form button:hover {
  background-color: #fdf2e9;
  color: #45260a;
  border-radius: 9px;
}

*:focus {
  outline: 4px solid rgba(245, 120, 55, 0.3);
}

.cta-form *:focus {
  outline: 4px solid #fdf2e9;
}

/*************************/
/*footer*/
/*************************/
.footer {
  padding: 9.6rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3rem;
}

.footer-link:hover,
.footer-link:active {
  color: #444;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}
